language: node_js
node_js:
- '12'
- '11'
- '10'
- '9'
- '8'
- '7'
- '6'
script: npm run travis
after_success: npm run coveralls
deploy:
  provider: npm
  email: juanjo.diazmo@gmail.com
  api_key:
    secure: WlUfbmaMBvA1QvLIef6Q0927SodlQyrY6T7njen8tcK9j1EW4cCBcl4ozaf2vdE04ewrKcL3M0sZFbr4QUQM3dE5ceiebFQwMtC6NkUFFecZnCWWfb6dAnR4JvVxyG84O/+BNj16FyDaTT8kqQHXiPyOW/jl9nqL6l9xn4hLyS+NbzRsKXVSP6kThtzQCi0rbWVi0MuKXGtbqdylnu0Te/G6oSGBPYaPSi5YV+Yq/nnRy1snQLZ913jfQSX/8+VE4mXI1dRXJvRAEy7DTfn52zuvs8/3OSG75cyde84NLVdFlIRujN7H99sQMl5w3xL20GpRn+a5wb6Mcgvl0huzlerYkVZ+kMa0t8CDFf8eHTooSJplAz+jFJM3YvdIHjNrTXSlp7XA8kRtHISuMYy15RbwxFP4Tlk5qqH4gk2uxaD3QakoK8/vkLlJlmZfI4D6FRZo/E7e9h5wCiTql28xYZMr8B71iTlmIaLAEDeEV5k6Hf5LlbmXHcDTdWewP4t7ZrxxkKXq8YTqTFxdu1EkGXUQWEvUSJmqW779PI3QWww8YvSTu8ed7x2T3ELl0SK/aPnepK6NfNwHjJDk2AVXtem6YnnxoF9t+F9Ja/7HlnRAA/n1A3YaIPFrJi9T8uvhv66ak4r7Dbvtu7ecEhTx979yjhdYbHdhenkKgnb+iJU=
  on:
    branch: master
    tags: true
    repo: juanjoDiaz/removeNPMAbsolutePaths
